
body{
    font: 20px arial, sans-serif;
}
.navbar {
    background-color: #29ba08;
}

.quem-somos{
    background-color: #818187;
    color: white;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;

}
.parceiros{
    background-color:#58faf4;
}

.bg-footer{
    background-color: black;
    color: white;
}



